{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Holdings</title>
</head>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!--<div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
             row
           
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Trending</h4>
                        <div class="bootstrap-carousel">
                            <div data-ride="carousel" class="carousel slide" id="carouselExampleCaptions">
                                <ol class="carousel-indicators">
                                    <li class="" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                                    <li data-slide-to="1" data-target="#carouselExampleCaptions" class=""></li>
                                    <li data-slide-to="2" data-target="#carouselExampleCaptions" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://media.wired.co.uk/photos/606d9f237aff197af7c72c6f/master/w_1600,c_limit/wired-books-32.jpg" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img alt="" class="d-block w-100" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6c8/master/w_1600,c_limit/wired-books-29.jpg" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                    <div class="carousel-item active">
                                        <img alt="" class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPbTNnFlxcvLmq5yvAg02pG5z_2-cYVq-y00bBUwkfj6yWpawWWsEzGX5g3SyBtFxqCqA&usqp=CAU" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                </div><a data-slide="prev" href="#carouselExampleCaptions" class="carousel-control-prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span> </a><a data-slide="next" href="#carouselExampleCaptions"
                                    class="carousel-control-next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="container-fluid">
                <!-- End Row -->
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline" style="text-transform: capitalize;">Taken Books</h4>
                        <p class="text-muted"><br></p>
                        <div class="row">
                            {% for book in taken_books %}
                            <a href='/books/catalogue/genres/{{book.book_genre.genre_name}}/{{book.id}}' target="__blank">
                                <div class="col-md-6 col-lg-3">
                                    <div class="card">
                                        <img class="img-fluid" src='{{book.book_image.url}}' alt='{{book.book_name}}' style="width: 100%; height: 240px;">
                                        <div class="card-body" style="height:200px">
                                            <h5 class="card title" style="text-align: left;">{{book.book_name}}</h5>
                                            <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{book.book_description}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!--hghgh-->


                
        <!--**********************************
            Content body end
        ***********************************-->
        
{% endblock %}