
{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!--**********************************
            Content body start
        ***********************************-->


        <!-- <upto this line -->

            <div class="content-body">

                <div class="row page-titles mx-0">
                    <div class="col p-md-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
               
                        
                <div class="container-fluid">
                    <!-- End Row -->
                <div class="row">
                    <div class="col-12 m-b-30">
                        <h3 class="d-inline">Genres</h3><br><br>
                        <!--<p class="text-muted">This is 3 column contents</p>-->
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://image.shutterstock.com/image-vector/little-boy-flying-on-book-260nw-476380084.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Children</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://s3.amazonaws.com/assets.saam.media/files/styles/max_650x650/s3/files/images/1968/SAAM-1968.61_1.jpg?itok=0X-BeHYr" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Biography & History</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://cdna.artstation.com/p/assets/images/images/018/404/384/large/book-covers-art-mystery-thriller-premade-book-cover-stranded.jpg?1559236554" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Mystery & Thriller</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://render.fineartamerica.com/images/rendered/medium/print/8/5.5/break/images/artworkimages/medium/1/twilight-romance-steve-henderson.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Drama & Romance</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="row">
                    <div class="col-12 m-b-30">
                        <h3 class="d-inline">Genres</h3><br><br>
                        <!--<p class="text-muted">This is 3 column contents</p>-->
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://image.shutterstock.com/image-vector/little-boy-flying-on-book-260nw-476380084.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Children</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://s3.amazonaws.com/assets.saam.media/files/styles/max_650x650/s3/files/images/1968/SAAM-1968.61_1.jpg?itok=0X-BeHYr" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Biography & History</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://cdna.artstation.com/p/assets/images/images/018/404/384/large/book-covers-art-mystery-thriller-premade-book-cover-stranded.jpg?1559236554" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Mystery & Thriller</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://render.fineartamerica.com/images/rendered/medium/print/8/5.5/break/images/artworkimages/medium/1/twilight-romance-steve-henderson.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Drama & Romance</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH1Z1XPia_Z7CSsMb8m9bQ3_zIMOrYjSUjuQ&usqp=CAU" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Horror</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://media.istockphoto.com/photos/space-station-picture-id891917884?k=20&m=891917884&s=612x612&w=0&h=UP19-f8CRCud34570pfTLzHw_cSQfd9ryF437LbDBuY=" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Science</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://image.shutterstock.com/image-photo/nonfiction-word-vintage-letterpress-wood-260nw-1288269679.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Non-Fiction</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <a href="">
                                    <div class="card">
                                        <img class="img-fluid" src="https://s26162.pcdn.co/wp-content/uploads/2019/06/1200px-Saint_Jerome_Writing-Caravaggio_1605-6.jpg" style="width: 100%; height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Literature</h4>
                                            <!--<p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
              
            <!--**********************************
                Content body end
            ***********************************-->
{% endblock %}
            
