{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Magnus Catalogue</title>
</head>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->
           
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Trending</h4>
                        <div class="bootstrap-carousel">
                            <div data-ride="carousel" class="carousel slide" id="carouselExampleCaptions">
                                <ol class="carousel-indicators">
                                    <li class="" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                                    <li data-slide-to="1" data-target="#carouselExampleCaptions" class=""></li>
                                    <li data-slide-to="2" data-target="#carouselExampleCaptions" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://media.wired.co.uk/photos/606d9f237aff197af7c72c6f/master/w_1600,c_limit/wired-books-32.jpg" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img alt="" class="d-block w-100" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6c8/master/w_1600,c_limit/wired-books-29.jpg" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                    <div class="carousel-item active">
                                        <img alt="" class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPbTNnFlxcvLmq5yvAg02pG5z_2-cYVq-y00bBUwkfj6yWpawWWsEzGX5g3SyBtFxqCqA&usqp=CAU" style="height: 200px;">
                                        <div class="carousel-caption d-none d-md-block">
                                            
                                        </div>
                                    </div>
                                </div><a data-slide="prev" href="#carouselExampleCaptions" class="carousel-control-prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span> </a><a data-slide="next" href="#carouselExampleCaptions"
                                    class="carousel-control-next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <!-- End Row -->
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline">Fiction Books</h4>
                        <p class="text-muted">Sorted by Year</p>
                        <div class="row">
                            {% for book in books %}
                            <a href='catalogue/{{book.id}}' target="__blank">
                                <div class="col-md-6 col-lg-3">
                                    <div class="card">
                                        <img class="img-fluid" src='{{book.book_image.url}}' alt='{{book.book_name}}' style="width: 100%; height: 240px;">
                                        <div class="card-body" style="height:200px">
                                            <h5 class="card title" style="text-align: left;">{{book.book_name}}</h5>
                                            <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{book.book_description}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                            </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f230286a2e569b12c39/master/w_1600,c_limit/wired-books-5.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Court of Thorns and Roses, by Sarah J. Maas (2020)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Imagine Beauty and the Beast but ramp up the romance and fantasy even more, transform Beauty into a huntress and Beast into some kind of fantastical faerie lord and that’s A Court of Thorns and Roses. Sara J. But this was no ordinary wolf.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6c8/master/w_1600,c_limit/wired-books-29.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Power, by Naomi Alderman (2017)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">The Power could also be classed as science-fiction, but we’re including it in our fantasy recommendations because what’s more fantastical than every woman in the land suddenly being able to electrocute men Palpatine-style with their fingertips?</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f236ab54fce4fbb1ebc/master/w_1600,c_limit/wired-books-26.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Fifth Season, by N. K. Jemisin (2016)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">It doesn’t feel like there’s a right way to begin explaining the truly monumental premise and proportions of The Fifth Season, so let’s just dive in. This book takes place on a planet with one massive supercontinent called Stillness.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22751ea43ccd9888c2/master/w_1600,c_limit/wired-books-19.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">Riot Baby, by Tochi Onyebuchi (2020)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Set in the near future, Riot Baby might be a story with fantastical elements weaved throughout it, but it explores very real, pertinent and important issues of race and bias algorithms. The riot baby in this book is Kev, a young Black man who’s in prison.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22307b8f0b37c72643/master/w_1600,c_limit/wired-books-14.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Kindred, by Octavia E. Butler (2018)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Some might say Octavia E. Butler’s fantastic Kindred is a work of science-fiction or speculative fiction, but it’s in our list because Butler herself called it “a kind of grim fantasy”. This is a time travel narrative, but we’d bet it’s quite unlike any you’ve read before.Kindred follows the story of a woman.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22646b991cdbf5fa59/master/w_1600,c_limit/wired-books-7.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Earthlings, by Sayaka Murata (2020)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Not one for the faint hearted, this dark fantasy comedy from the author of Convenience Store Woman is tricky to pin down into any one category and the final pages will probably leave you gobsmacked. Natsuki and Yuu are cousins who have long prepared to be abducted back to their home planet. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6ca/master/w_1600,c_limit/wired-books-4.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Circe, by Madeline Miller (2018)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Circe, daughter of Titan sun god Helios, finds herself overshadowed in the halls of the gods until she discovers her own, different power: witchcraft. Banished to a deserted island and repeatedly let down by the men she puts her trust in, Circe must forge her own path: as a goddess, a witch, and a woman.   </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23307b8f0b37c72645/master/w_1600,c_limit/wired-books-15.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">Memory, Sorrow, and Thorn, by Tad Williams (1988 to 1993)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">The three books in this trilogy, Stone of Farewell and To Green Angel Tower, are beautifully crafted fantasies that deftly interweave almost comically simple tropes with a rewarding complexity and depth. </p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f230286a2e569b12c39/master/w_1600,c_limit/wired-books-5.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Court of Thorns and Roses, by Sarah J. Maas (2020)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Imagine Beauty and the Beast but ramp up the romance and fantasy even more, transform Beauty into a huntress and Beast into some kind of fantastical faerie lord and that’s A Court of Thorns and Roses. Sara J. But this was no ordinary wolf.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24581351b2c44d79e3/master/w_1600,c_limit/wired-books-22.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Malazan Book of the Fallen series, by Steven Erikson (1999 to 2011)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Spanning 10 books and over 9,000 pages of brutal, beautiful and complex fantasy writing, Steven Erikson's series delivers world building on a larger scale than Tolkien and Jordan put together. Erikson will have you laughing.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>CRead more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f242a09c24efb8f4250/master/w_1600,c_limit/wired-books-10.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The First Law Trilogy, by Joe Abercrombie (2006 to 2008)

                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Joe Abercrombie writes brilliant characters. Be it the story of an ageing berserker, a crippled torturer or a pompous noble, his The First Law Trilogy immerses you in a bloody mire of violent, visceral and gritty adventures. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23ce1204c637f2f2dd/master/w_1600,c_limit/wired-books-23.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">The Golem and the Djinni, by Helene Wecker (2013)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Helene Wecker's debut novel is an eerie tale of two magical creatures set loose in 19th century New York. A golem – a mythical creature of Jewish lore – awakens during a sea voyage.he's trapped in human form. </p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24f19707fe1aef2fb4/master/w_1600,c_limit/wired-books-6.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Dune, by Frank Herbert (1965)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Welcome to a desert planet where water is more precious than gold, everyone wears moisture-preserving jumpsuits and giant worm creatures can come out of the earth's floor that can kill you at any moment. This is Dune, a stark wasteland where warring houses scheme. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23ad865a997660a979/master/w_1600,c_limit/wired-books-24.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Dark Tower series, by Stephen King (1998)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">"The man in black fled across the desert, and the gunslinger followed." This iconic line kicks off Stephen King's iconic The Dark Tower, which mashes together fantasy, westerns and elements of science fiction.The first of seven books follows gunslinger Roland </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24687a704c2c361741/master/w_1600,c_limit/wired-books-21.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Song of Ice and Fire, by George R.R. Martin (1996)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fans of the television series have been distancing themselves from Game of Thrones in droves since that disastrous final season, but George R.R. Martin's books remain relatively untainted. A Game of Thrones, the first in the A Song of Ice and Fire Series. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
            </div>


































            <div class="container-fluid">
                <!-- End Row -->
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline">Fiction Books</h4>
                        <p class="text-muted">Sorted by Year</p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22a876dd2203a63db5/master/w_1600,c_limit/wired-books-31.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">Who Fears Death, by Nnedi Okorafor (2018)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> There’s genocide and suffering between two warring tribes and, amidst this immense pain and violence, Onyesonwu is born – her name means “who fears death?” in an ancient language. </p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f230286a2e569b12c39/master/w_1600,c_limit/wired-books-5.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Court of Thorns and Roses, by Sarah J. Maas (2020)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Imagine Beauty and the Beast but ramp up the romance and fantasy even more, transform Beauty into a huntress and Beast into some kind of fantastical faerie lord and that’s A Court of Thorns and Roses. Sara J. But this was no ordinary wolf.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6c8/master/w_1600,c_limit/wired-books-29.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Power, by Naomi Alderman (2017)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">The Power could also be classed as science-fiction, but we’re including it in our fantasy recommendations because what’s more fantastical than every woman in the land suddenly being able to electrocute men Palpatine-style with their fingertips?</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f236ab54fce4fbb1ebc/master/w_1600,c_limit/wired-books-26.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Fifth Season, by N. K. Jemisin (2016)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">It doesn’t feel like there’s a right way to begin explaining the truly monumental premise and proportions of The Fifth Season, so let’s just dive in. This book takes place on a planet with one massive supercontinent called Stillness.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22751ea43ccd9888c2/master/w_1600,c_limit/wired-books-19.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">Riot Baby, by Tochi Onyebuchi (2020)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Set in the near future, Riot Baby might be a story with fantastical elements weaved throughout it, but it explores very real, pertinent and important issues of race and bias algorithms. The riot baby in this book is Kev, a young Black man who’s in prison.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22307b8f0b37c72643/master/w_1600,c_limit/wired-books-14.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Kindred, by Octavia E. Butler (2018)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Some might say Octavia E. Butler’s fantastic Kindred is a work of science-fiction or speculative fiction, but it’s in our list because Butler herself called it “a kind of grim fantasy”. This is a time travel narrative, but we’d bet it’s quite unlike any you’ve read before.Kindred follows the story of a woman.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f22646b991cdbf5fa59/master/w_1600,c_limit/wired-books-7.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Earthlings, by Sayaka Murata (2020)</h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Not one for the faint hearted, this dark fantasy comedy from the author of Convenience Store Woman is tricky to pin down into any one category and the final pages will probably leave you gobsmacked. Natsuki and Yuu are cousins who have long prepared to be abducted back to their home planet. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23938ecee6e930e6ca/master/w_1600,c_limit/wired-books-4.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Circe, by Madeline Miller (2018)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Circe, daughter of Titan sun god Helios, finds herself overshadowed in the halls of the gods until she discovers her own, different power: witchcraft. Banished to a deserted island and repeatedly let down by the men she puts her trust in, Circe must forge her own path: as a goddess, a witch, and a woman.   </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23307b8f0b37c72645/master/w_1600,c_limit/wired-books-15.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">Memory, Sorrow, and Thorn, by Tad Williams (1988 to 1993)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">The three books in this trilogy, Stone of Farewell and To Green Angel Tower, are beautifully crafted fantasies that deftly interweave almost comically simple tropes with a rewarding complexity and depth. </p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f230286a2e569b12c39/master/w_1600,c_limit/wired-books-5.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Court of Thorns and Roses, by Sarah J. Maas (2020)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Imagine Beauty and the Beast but ramp up the romance and fantasy even more, transform Beauty into a huntress and Beast into some kind of fantastical faerie lord and that’s A Court of Thorns and Roses. Sara J. But this was no ordinary wolf.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24581351b2c44d79e3/master/w_1600,c_limit/wired-books-22.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Malazan Book of the Fallen series, by Steven Erikson (1999 to 2011)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Spanning 10 books and over 9,000 pages of brutal, beautiful and complex fantasy writing, Steven Erikson's series delivers world building on a larger scale than Tolkien and Jordan put together. Erikson will have you laughing.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>CRead more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f242a09c24efb8f4250/master/w_1600,c_limit/wired-books-10.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The First Law Trilogy, by Joe Abercrombie (2006 to 2008)

                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Joe Abercrombie writes brilliant characters. Be it the story of an ageing berserker, a crippled torturer or a pompous noble, his The First Law Trilogy immerses you in a bloody mire of violent, visceral and gritty adventures. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-inline"></h4>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23ce1204c637f2f2dd/master/w_1600,c_limit/wired-books-23.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card title">The Golem and the Djinni, by Helene Wecker (2013)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Helene Wecker's debut novel is an eerie tale of two magical creatures set loose in 19th century New York. A golem – a mythical creature of Jewish lore – awakens during a sea voyage.he's trapped in human form. </p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24f19707fe1aef2fb4/master/w_1600,c_limit/wired-books-6.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">Dune, by Frank Herbert (1965)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Welcome to a desert planet where water is more precious than gold, everyone wears moisture-preserving jumpsuits and giant worm creatures can come out of the earth's floor that can kill you at any moment. This is Dune, a stark wasteland where warring houses scheme. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f23ad865a997660a979/master/w_1600,c_limit/wired-books-24.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">The Dark Tower series, by Stephen King (1998)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">"The man in black fled across the desert, and the gunslinger followed." This iconic line kicks off Stephen King's iconic The Dark Tower, which mashes together fantasy, westerns and elements of science fiction.The first of seven books follows gunslinger Roland </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <img class="img-fluid" src="https://media.wired.co.uk/photos/606d9f24687a704c2c361741/master/w_1600,c_limit/wired-books-21.jpg" alt="">
                                    <div class="card-body" style="height:200px">
                                        <h5 class="card-title">A Song of Ice and Fire, by George R.R. Martin (1996)
                                        </h5>
                                        <p class="card-text" style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fans of the television series have been distancing themselves from Game of Thrones in droves since that disastrous final season, but George R.R. Martin's books remain relatively untainted. A Game of Thrones, the first in the A Song of Ice and Fire Series. </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p><a href="#" class="card-link float-right"><small>Read more</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                        </div>
                    </div>
                </div>
            </div>
                <!--hghgh-->


                
        <!--**********************************
            Content body end
        ***********************************-->
        
{% endblock %}